body {font-family: Arial; background: #f0f8ff; margin: 0;}
.container {width: 70%; margin: 20px auto; background: white; padding: 20px; border-radius: 10px;}
h1, h2 {color: #0056b3; text-align: center;}
